.env
terraform_deploys/**/*.json
terraform_deploys/**/*.tfvars
terraform_deploys/**/.terraform
terraform_deploys/**/.terraform.lock.hcl
terraform_deploys/**/terraform.tfstate
terraform_deploys/**/terraform.tfstate.backup